@keyframes floatAnimation {
  0% {
    transform: translate(0, 0);
  }
  16.6% {
    transform: translate(-10px, -20px);
  }
  33.2% {
    transform: translate(20px, 0);
  }
  49.8% {
    transform: translate(-10px, 20px);
  }
  66.4% {
    transform: translate(-10px, 20px);
  }
  62.5% {
    transform: translate(20px, 0);
  }
  83.0% {
    transform: translate(-10px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.bubble {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #10002bb5;
  box-shadow: 1px 1px 3px #10002b93;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: floatAnimation 3s infinite ease-in-out;
  box-sizing: content-box;
}

.bubble:hover {
  transform: scale(1.1);
  animation: none; /* Disable animation when hovered */
}

.hovered {
  width: 350px;
  height: 350px;
  animation: none; /* Disable animation when hovered */
}

.bubble-content {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e0aaff;
  text-align: center;
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon {
  height: 100px;
  width: auto;
  background-color: rgba(255, 255, 255, 0.8); 
}
.icon:hover {
  transform: scale(1.2);
  animation: spinAnimation 1s infinite linear;
}
.git {
  border-radius: 90px;
}
.linkdin {
  border-radius: 14px;
  box-shadow: 1px 3px 3px #10002b93;
}