@keyframes floatAnimation {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-2px, -10px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(2px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.bubble {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #10002bb5;
  box-shadow: 1px 1px 3px #10002b93;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: floatAnimation 5s infinite ease-in-out;
  box-sizing: border-box;
}

.bubble:hover {
  transform: scale(1.1);
  animation: none; /* Disable animation when hovered */
}

.hovered {
  width: 20%;
  height: 20%;
  animation: none; /* Disable animation when hovered */
}

.bubble-content {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e0aaff;
  text-align: center;
  padding: 0 5% 5% 5%;
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon {
  height: 100%;
  width: auto;
  background-color: rgba(255, 255, 255, 0.8); 
  margin: auto;
}
.icon:hover {
  transform: scale(1.1);
  animation: spinAnimation 1s infinite linear;
}
.git {
  border-radius: 90px;
}
.linkdin {
  border-radius: 14px;
  box-shadow: 1px 3px 3px #10002b93;
}

.slick-slider {
  width: 100%; /* Set the width of the carousel */
  margin: 0 auto; /* Center the carousel */
}

.slick-track {
  justify-content: center;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  margin-left: 10px;
}

/* .slick-list {
  
} */

/* @media screen and (max-width: 1200px) {} */
/* Add a media query for screens smaller than a certain width */
/* @media screen and (max-width: 768px) {} */