@keyframes floatAnimation {
    0% {
      transform: translateY(0);
      transform: translateX(0);
    }
    50% {
      transform: translateY(-20px);
      transform: translateX(-20px);
    }
    100% {
      transform: translateY(0);
      transform: translateX(0);
    }
  }

.bubble {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #10002bb5;
  box-shadow: 1px 1px 3px #10002b93;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: floatAnimation 3s infinite ease-in-out;
  box-sizing: content-box;
}

.bubble:hover {
  transform: scale(1.1);
  animation: none; /* Disable animation when hovered */
}

.hovered {
  width: 350px;
  height: 350px;
  animation: none; /* Disable animation when hovered */
}

.bubble-content {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e0aaff;
  text-align: center;
}
